<?xml version="1.0"?>
<config>
    <modules>
        <Displaystore_Gallery>
            <version>0.0.1</version>
        </Displaystore_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Displaystore_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Displaystore_Gallery>
                    <files>
                        <default>Displaystore_Gallery.csv</default>
                    </files>
                </Displaystore_Gallery>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <gallery>
                <use>admin</use>
                <args>
                    <module>Displaystore_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <gallery>
                        <title>Displaystore Gallery</title>
                        <sort_order>1</sort_order>
                        <action>gallery/adminhtml_gallery</action>
                    </gallery>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                       <cms>
                            <children>
                                <gallery>
                                    <title>Displaystore Gallery</title>
                                    <sort_order>40</sort_order>
                                </gallery>
                            </children>
                        </cms>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <gallery translate="title" module="gallery">
                                            <title>File Uploader</title>
                                            <sort_order>60</sort_order>
                                        </gallery>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <gallery>
                            <title>Displaystore Module</title>
                            <sort_order>40</sort_order>
                        </gallery>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <gallery_product_injectTabs>
                        <type>singleton</type>
                        <class>gallery/observer_product</class>
                        <method>injectTabs</method>
                    </gallery_product_injectTabs>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <gallery>
                <class>Displaystore_Gallery_Block</class>
            </gallery>            
        </blocks>
        <helpers>
            <gallery>
                <class>Displaystore_Gallery_Helper</class>
            </gallery>
        </helpers>
        <models>
            <gallery>
                <class>Displaystore_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
            <gallery_mysql4>
                <class>Displaystore_Gallery_Model_Mysql4</class>
                <entities>
                    <gallery>
                        <table>displaystore_gallery</table>
                    </gallery>
                </entities>
            </gallery_mysql4>
        </models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>Displaystore_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
    </global>    
</config>